.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 80%; /* Full width (cover the whole page) */
    height: 80%; /* Full height (cover the whole page) */
    top: 10%;
    left: 10%;
    background-color: transparent; /* Black background with opacity */
    z-index: 2;
    animation-name: drop;
    animation-duration: 0.2s;

}
.page{
    width: 100%;
    height: 100%;
}

@keyframes drop {
    from {height: 0}
    to {height: 80%}
}

.top{
    display: flex;
    width: 100%;
    background: linear-gradient(3deg, rgb(220,230,255) 40%, rgb(215,225,250));
    height: fit-content;
    justify-content: left;
    border-bottom: 2px solid rgb(160,170,195);
}
.windowTitle{
    margin-left: 1rem;
    margin-top: 1px;
    margin-bottom: 7px;
    font-size: 20px;
}
.close{
    color: gray;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.1s ease;
}
.close:hover{
    border: 1px solid white;
    background-color: red;
    color: white;

}

.opcion{
    display: block;
    width: 40%;
    height: 23.5%;
    border: none;
    background-color: rgba(210,220,245,0.9);
    margin-bottom: 1px;
    font-size: 1.5em;
    font-weight: bolder;
    user-select: none;
}
.active{
    display: block;
    width: 40%;
    height: 23.5%;
    border: none;
    background-color: rgba(235,235,255,0.98);
    margin-bottom: 1px;
    font-size: 1.5em;
    font-weight: bolder;
    animation-name:recolorear;
    animation-duration: 0.25s;
    user-select: none;

}


@keyframes recolorear {
    0%{background: linear-gradient(90deg,rgba(210,220,245,0.9) ,rgba(210,220,245,0.9) 80%, rgba(235,235,255,0.98) 100%);
    }
    10%{
        background: linear-gradient(90deg,rgba(210,220,245,0.9) ,rgba(210,220,245,0.9) 60%, rgba(235,235,255,0.98) 90%);
    }
    20%{
        background: linear-gradient(90deg,rgba(210,220,245,0.9) ,rgba(210,220,245,0.9) 40%, rgba(235,235,255,0.98) 80%);
    }
    30%{
        background: linear-gradient(90deg,rgba(210,220,245,0.9) ,rgba(210,220,245,0.9) 20%, rgba(235,235,255,0.98) 70%);
    }
    40%{
        background: linear-gradient(90deg,rgba(210,220,245,0.9) ,rgba(210,220,245,0.9) 0%, rgba(235,235,255,0.98) 60%);
    }
    50%{
        background: linear-gradient(90deg,rgba(210,220,245,0.9) ,rgba(210,220,245,0.9) 0%, rgba(235,235,255,0.98) 50%);
    }
    60%{
        background: linear-gradient(90deg,rgba(210,220,245,0.9) ,rgba(210,220,245,0.9) 0%, rgba(235,235,255,0.98) 40%);
    }
    70%{
        background: linear-gradient(90deg,rgba(210,220,245,0.9) ,rgba(210,220,245,0.9) 0%, rgba(235,235,255,0.98) 30%);
    }
    80%{
        background: linear-gradient(90deg,rgba(210,220,245,0.9) ,rgba(210,220,245,0.9) 0%, rgba(235,235,255,0.98) 20%);
    }
    90%{
        background: linear-gradient(90deg,rgba(210,220,245,0.9) ,rgba(210,220,245,0.9) 0%, rgba(235,235,255,0.98) 10%);
    }
    100%{background: linear-gradient(90deg,rgba(210,220,245,0.9),rgba(210,220,245,0.9) 0%, rgba(235,235,255,0.98) 0%);}
}

.rightArrow{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(0%,-50%);
}
.rightArrow:hover{
    opacity: 0.6;
}
.rightArrow:active{
    color: lightblue;
    -webkit-transition: color 0.1s linear;
}
.leftArrow{
    position: absolute;
    float: left;
    top: 50%;
    transform: translate(-100%,-50%);
}
.leftArrow:hover{
    opacity: 0.6;
}
.leftArrow:active{
    color: lightblue;
    -webkit-transition: color 0.1s linear;

}
